@model EM.IServicio.Persona.DTOs.PersonaDto
@using EM.Servicio.Comprobante
@using EM.IServicio.Comprobante
@using EM.IServicio.Helpers.Usuario
@using EM.Servicio.Evento
@using EM.IServicio.Evento
@using EM.Servicio.CreadorEvento
@using EM.IServicio.CreadorEvento;
@using EM.IServicio.TipoEvento;
@using EM.IServicio.TipoEvento.DTOs;
@using EM.Servicio.TipoEvento;

@{
    ViewBag.Title = "Perfil";

    IEventoServicio _eventoServicio = new EventoServicio();
    ICreadorEventoServicio _creadorEventoServicio = new CreadorEventoServicio();
    ITipoEventoServicio _tipoEvento = new TipoEventoServicio();

    IComprobanteServicio _comprobanteServicio = new ComprobanteServicio();

    var ListaEntradas = _comprobanteServicio.ObtenerPoIdUsuario(SessionActiva.UsuarioId);

    var ListaEventos = _creadorEventoServicio.ObtenerPorCreador(SessionActiva.UsuarioId);

}


<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">

<link href="~/Content/Perfil/perfil.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!--===============================================================================================-->
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<body>



    <section style="background-color:wheat; padding-top:2px;">

        <div class="containerPerfil">
            <div class="row">
                <div class="col-md-6 img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q" alt="" class="rounded-circle" style="margin-right:2px">
                    <br /><br />
                </div>
                <div class="col-md-6 details">
                    <blockquote>
                        <h5>@Model.Apellido @Model.Nombre</h5>
                        <small><cite title="Source Title">Argentina<i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        Celular: @Model.Telefono <br />
                        Nacimiento: @Model.FechaNacimiento.ToShortDateString()<br />
                        @Model.Mail
                        <br>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="text-align:right">
            <a class="btn btn-success" href="~/Persona/Update/@Model.Id">Modificar Datos</a>  <a class="btn btn-info" href="~/Evento/Crear">Crear Evento</a>
        </div>
        <br />
        <br /><br />
        <!-- grilla -->

        <section id="tabs" class="project-tab" style="background-color:oldlace; margin-right:30px; margin-left:30px; border:groove">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mis Eventos</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mis Entradas</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre Evento</th>
                                            <th>Tipo de Evento</th>
                                            <th>Orante</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ListaEventos != null)
                                        {
                                            foreach (var item in ListaEventos)
                                            {
                                                <tr>
                                                    <td><a href="/Evento/PerfilEvento/@item.Id">@item.Titulo</a></td>
                                                    <td>@_tipoEvento.GetById(item.TipoEventoId).Descripcion</td>
                                                    <td>@item.Orante</td>
                                                    <td><a class="btn btn-outline-info" href="~/Evento/UpdateEvento/@item.Id">Modificar</a>  <a class="btn btn-outline-danger">Eliminar</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre Entrada</th>
                                            <th>Organizacion</th>
                                            <th>Fecha</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ListaEntradas != null)
                                        {
                                            foreach (var item in ListaEntradas)
                                            {
                                                <tr>
                                                    <td><a href="~/Evento/VerEntrada/@item.Id">@_eventoServicio.ObtenerPorId(item.EventoId).Titulo</a></td>
                                                    <td>@_eventoServicio.ObtenerPorId(item.EventoId).Organizacion</td>
                                                    <td>@item.Fecha.ToShortDateString()</td>
                                                    <td><a type="button" class="btn btn-success" href="~/Evento/VerEntrada/@item.Id">Ver</a></td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br /><br /><br /><br /><br /><br /><br /><br />

    </section>
    <br />
</body>
