@using EM.IServicio.Evento;
@using EM.Servicio.Evento;
@{
    ViewBag.Title = "Home Page";

    IEventoServicio _eventoServicio = new EventoServicio();

    var ListaEventos = _eventoServicio.ObtenerTodo();
    string active = "active";

}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Carousel/carousel.css" rel="stylesheet" />

<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/carousel/">

<main role="main">

    <form asp-action="Index" asp-controller="Home" method="get">       

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                @for (int i = 0; i < @ListaEventos.Count(); i++)
                {
                    <li data-target="EventoPLus" data-slide-to="@i"></li>
                }
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                        <!--  xmlns="http://www.w3.org/2000/svg"  -->
                        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="---" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777" /></svg>-->
                        <img src="~/Content/ImageHome/eventosSlider.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" class="bd-placeholder-img" />

                        <div class="container">

                            <div class="carousel-caption text-left">

                                <h1 style="color:black">Bienvenido a Event Manager!</h1>
                                <p style="color:black">Puedes Crear Tu Evento Aqui De Manera Rapida y Sencilla.</p>
                            </div>

                        </div>

                    </div>
                @foreach (var item in @ListaEventos)
                {
                    <div class="carousel-item">
                        <!--  xmlns="http://www.w3.org/2000/svg"  -->
                        <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="---" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777" /></svg>-->
                        <img src="@Url.Action("GetImage", new { id = @item.Id })" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" class="bd-placeholder-img" />

                        <div class="container">

                            <div class="carousel-caption text-left">

                                <h1 style="color:black">@item.Titulo</h1>
                                <p style="color:black">@item.Descripcion</p>
                                <p><a class="btn btn-lg btn-dark" href="~/Evento/ViewEvento/@item.Id" role="button">Ver Evento</a></p>

                            </div>

                        </div>

                    </div>
                }

                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </div>

        <!-- Marketing messaging and featurettes
    ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">

                @foreach (var item in @ListaEventos)
                {
                    <!-- xmlns="http://www.w3.org/2000/svg" -->
                    <div class="col-lg-4">

                        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
                        <img src="@Url.Action("GetImage", new { id = @item.Id })" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" width="280" height="180" /> 
                        <h2>@item.Titulo</h2>
                        <p>@item.Descripcion</p>
                        <p><a class="btn btn-secondary" href="~/Evento/ViewEvento/@item.Id" role="button">Ver Evento &raquo;</a></p>

                    </div>

                }

            </div>

        </div><!-- /.row -->

    </form>


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Crear tu Evento es Muy Facil <span class="text-muted">Con Event Manager</span></h2>
            <p class="lead">Solo Tienes que Registrarte, Podras Crear Todos Los Evento Que Quieras. Tambien Podras Inscribirte a Otros Eventos Sin Problema Alguno.</p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/ImageHome/loginuser.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Usa Direcciones Exactas Para El Evento <span class="text-muted">Asi tus Invitados Te Encuentren Mas Rapido</span></h2>
            <p class="lead">Gracias a Google Maps, Colocamos Su Evento en el Mapa Para Tener Presicion del Lugar Donde Sera el Mismo. (Se Recomienda Poner la Direccion Exacta)</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/Content/ImageHome/localizacion.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Puedes Crear Eventos Gratuitos De Organizaciones Sin Fines De Lucro <span class="text-muted">Sin Costo Alguno</span></h2>
            <p class="lead">Es Muy Facil, Cuando Crees Tu Evento En El Valor De La Entrada Coloca '0' y El Sistema Sabra Que Es Una Entrada Gratuita.</p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/ImageHome/entrada.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" />
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- /.container -->

</main>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>

<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
