@using EM.Dominio.Entity.Enum
@using EM.IServicio.Comprobante
@using EM.IServicio.Helpers.Foto
@using EM.IServicio.Persona
@using EM.Servicio.Comprobante
@using EM.Servicio.Persona
@model EM.IServicio.Evento.DTOs.EventoViewDto
@{
    ViewBag.Title = "PerfilEvento";

    IPersonaServicio _personaServicio = new PersonaServicio();

    IComprobanteServicio _comprobanteServicio = new ComprobanteServicio();

    var lista = _personaServicio.ObtenerPorEventoPago(Model.Id);

    var TotalRecaudado = lista.Count() * Model.Precio;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ImgEvento/ImagenPortada.css" rel="stylesheet" />
<link href="~/Content/ImgEvento/ImgResponsive.css" rel="stylesheet" />
<!--Load the API from the specified URL-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFA0cdJHdJdccOiUiKNpwQ3wze89fWH38&callback=initMap">
</script>

<div class="container">
    <form asp-action="ViewEvento" asp-controller="Evento" method="get">
        <div class="polaroid"><br />
            @*<img resource="@imagen" alt="5 Terre" style="width:70%" class="imgPortada">*@
            
        <div class="container">
            <img src="@Url.Action("GetImage", new { id = Model.Id })" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
            <h3>
                <u>
                    @if (Model != null)
                    {@Model.Titulo}
                </u>
            </h3>

            <div class="col-lg-12">
                <p>
                    @if (Model != null)
                    {@Model.Descripcion}
                </p>
                <h6>
                    Numero Contacto: @if (Model != null)
                    {@Model.Telefono}
                </h6>
                <br />

                <p>
                    <label class="form-control" role="button" style="background-color:salmon;color:black">
                        Valor Entrada $@if (Model != null)
                        {@Model.Precio} &raquo;
                    </label>
                </p>

                @if (Model.Estado == EventoEstado.Activo)
                {
                    <p>
                        <label class="form-control" role="button" style="background-color:green;color:black">
                            @Model.Estado
                        </label>
                    </p>
                }

                @if (Model.Estado == EventoEstado.Vencido)
                {
                    <p>
                        <label class="form-control" role="button" style="background-color:red;color:black">
                            @Model.Estado
                        </label>
                    </p>
                }
                @if (Model.Estado == EventoEstado.Suspendido)
                {
                    <p>
                        <label class="form-control" role="button" style="background-color:yellow;color:black">
                            @Model.Estado
                        </label>
                    </p>
                }

            </div><!-- /.col-lg-4 -->

            <br />

            <section class="container">

                <div class="col-lg-4" style="background-color:antiquewhite; float:left;padding-top:4px;padding-bottom:2px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);">

                    <h5>
                        Horario del Evento: @if (Model != null)
                        {@Model.FechaEvento.ToShortDateString()}
                    </h5>

                    <p align="center">
                        Desde: @if (Model != null)
                        {@Model.HoraInicio.ToShortTimeString()}am | Hasta: @if (Model != null)
                        {@Model.HoraFin.ToShortTimeString()}pm
                    </p>

                </div>


                <div class="col-lg-4" style="background-color:antiquewhite; float:right;padding-top:4px;padding-bottom:2px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);">

                    <h5>Quien Dara La Charla:</h5>

                    <p align="center">
                        | @if (Model != null)
                        {@Model.Orante} |
                    </p>

                </div>

            </section>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /><br />
            <label class="form-control" style="background-color:cornflowerblue;color:black;">Personas Inscriptas Al Evento</label>


            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre Completo</th>
                                <th>Cuil</th>
                                <th>Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _personaServicio.ObtenerPorEventoPago(Model.Id))
                            {
                                <tr>
                                    <td>@item.Nombre , @item.Apellido</td>
                                    <td>@item.Cuil</td>
                                    <td>@item.Mail</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <label class="form-control" style="background-color:lawngreen;color:black;">Total Recaudado: $@_comprobanteServicio.TotalComprobantePorEvento(Model.Id)</label>
                <br />
                <label class="form-control" style="background-color:cornflowerblue;color:black;">Lugar</label>

                <section class="container">
                    <br />
                    <h5>
                        Lugar del Evento: @if (Model != null)
                        {@Model.CalleNumero}
                    </h5>

                    <div id="map">
                    </div>


                    <style>
                        #map {
                            height: 400px;
                            width: 100%;
                        }
                    </style>

                    <script>

                            function initMap()
                            {
                                var options =
                                {
                                    zoom: 18,
                                    center: { lat:@Model.Latitud, lng:@Model.Longitud}
                                }


                                var map = new google.maps.Map(document.getElementById('map'), options);

                                var marker = new google.maps.Marker({
                                    position: { lat:@Model.Latitud, lng:@Model.Longitud},
                                    map: map,
                                    icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
                                })

                            }
                            initMap();
                    </script>

                </section>

                <br />

            </div>

            @if (Model.Estado == EventoEstado.Activo)
            {
                <div class="col-md-12" style="text-align:center">
                    <a class="btn btn-danger" href="~/Evento/SuspenderEvento/@Model.Id" style="width: 200px;height: 40px ">Suspender Evento</a> <br />
                </div>
            }
            @if (Model.Estado == EventoEstado.Suspendido)
            {
                <div class="col-md-12" style="text-align:center">
                    <a class="btn btn-primary" href="~/Evento/HabilitarEvento/@Model.Id" style="width: 200px;height: 40px ">Habilitar Evento</a> <br />
                </div>
            }
        </div>
    </form>
</div>

<br /><br />

