@model EM.IServicio.Evento.DTOs.EventoViewDto
@using EM.Dominio.Entity.Enum
@using EM.IServicio.Comprobante
@using EM.IServicio.Helpers.Usuario
@using EM.IServicio.TipoEvento;
@using EM.Servicio.Comprobante
@using EM.Servicio.TipoEvento;
@{
    ViewBag.Title = "VerEntrada";

    ITipoEventoServicio _tipoEvento = new TipoEventoServicio();

    IComprobanteServicio _comprobanteServicio = new ComprobanteServicio();

    var comprobante = _comprobanteServicio.ObtenerPorEventoUser(Model.Id, SessionActiva.UsuarioId);
}

<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">

<div class="container">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <h1 style="color:limegreen">Entrada !</h1>
            <br />
            <label class="form-control" style="background-color:green;color:white;">Puede Imprimir Esta Pantalla Si Lo Desea</label>
            <br />

            @if (Model.Estado == EventoEstado.Suspendido)
            {
                <br />
                <div class="alert alert-danger">
                    El evento se encuentra suspendido por el momento por el creador , ante cualuqier inconveniente comunicarse con el numero
                    Telefonico o Correo registrado en el evento , para realizar el reclamo correspondiente si no vuelve a habilitar el evento.
                </div>
                <br />
            }

            <span class="txt1 p-b-11">
                Datos del Evento :
            </span>
            <br />
            <label class="form-control" style="background-color:burlywood;color:black">Evento: @Model.Titulo </label>
            <label class="form-control" style="background-color:burlywood;color:black">Tipo Evento: @_tipoEvento.GetById(Model.TipoEventoId).Descripcion</label>
            <label class="form-control" style="background-color:burlywood;color:black">Lugar: @Model.CalleNumero</label>
            <label class="form-control" style="background-color:burlywood;color:black">Horario: @Model.FechaEvento.ToShortDateString(),  @Model.HoraInicio.ToShortTimeString()</label>
            <label class="form-control" style="background-color:burlywood;color:black">Pago por: $@Model.Precio</label>
            <br />
            <span class="txt1 p-b-11">
                Detalle del Pago :
            </span>
            <br />
            <label class="form-control" style="background-color: royalblue;color:white">Nro Operacion: @comprobante.Numero </label>
            <label class="form-control" style="background-color:royalblue;color:white">Fecha de Operacion: @comprobante.Fecha</label>
            <label class="form-control" style="background-color:royalblue;color:white">Total: @comprobante.Total</label>
            <br />
            <br />

            <a class="btn btn-outline-primary" style="margin-left:150px;" href="~/Persona/Perfil">Volver</a>


        </div>
    </div>
</div>